@font-face {
  font-family: 'grobold';
  src: local('grobold'),
        url('../fonts/starwisp.ttf');
}

body {
    font-family: 'grobold';
    background: url('../images/bg.png');   
    text-align: center;
}

.gutter {
    margin-bottom: 1em;
    display: block;
    overflow: hidden;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: linear-gradient(#dddd88,#bbbb66);
    border: 2px solid black;
    border-radius: 1em;
    padding: 0.5em;
    text-align: center;
    text-align-last: center;
}

option {
}

button {
    background: linear-gradient(#88dd88,#66bb66);
    border: 2px solid black;
}

/* ----------------------------------------------- */
/* clear range styles */

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

input[type=range]::-moz-range-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* ----------------------------------------------- */
/* actual style */

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 2.5em;
  width: 2.5em;
  border-radius: 1.5em;
  background: #8888dd;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 2.5em;
  width: 2.5em;
  border-radius: 1.5em;
  background: #8888dd;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* track */


input[type=range] {
  width: 100%;
  height: 1em;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: linear-gradient(#aaaaff,#6666bb);
  border-radius: 1em;
  border: 0.2px solid #010101;
  margin: 1em;
}

